
<div class="bg-gradient-to-r from-emerald-300 via-emerald-400 to-emerald-300 py-12">
  <h1 class="text-4xl md:text-6xl font-extrabold text-white text-center">
    <span class="text-blue-500">Blog</span><span class="bg-gradient-to-r text-transparent from-yellow-500 to-orange-500 bg-clip-text">Zone</span> <span class="text-black">Dashboard</span>
  </h1>
</div>

<div class="flex justify-center items-center mt-6">
  <a href="/" class="inline-flex items-center justify-center px-6 py-3 text-base font-bold text-white transition-colors duration-300 bg-gradient-to-r from-purple-500 to-blue-500 rounded-lg shadow-lg hover:from-purple-600 hover:to-blue-600 hover:shadow-xl">
    <svg class="w-5 h-5 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
      <path d="M19 12H6M12 5l-7 7 7 7" />
    </svg>
    Back
  </a>
</div>



{{#each userPosts}}
<div class="flex flex-col justify-center rounded-lg p-2 mx-2 my-8 shadow-lg hover:shadow-2xl mx-auto w-full max-w-4xl transform bg-gradient-to-b from-gray-500 to-gray-900 hover:-translate-y-1 hover:scale-105">
  <section class="transform hover:shadow-xl bg-orange-300 rounded-lg p-4">
    <p class="font-mono italic font-bold text-black text-center text-xl md:text-2xl lg:text-3xl">{{this.title}}</p>
    <p class="font-sans truncate font-semibold text-center text-black p-4 m-4 bg-gray-200 text-sm md:text-base lg:text-lg">{{this.entry}}</p>
    <a href="dashboard/{{id}}" class="bg-green-500 hover:bg-green-600 text-white font-bold py-3 px-6 rounded-md shadow-md my-2 mx-8 transition-colors duration-300">
      Edit Post
    </a>
    <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-3 px-6 rounded-md shadow-md my-2 mx-8 transition-colors duration-300" onclick="deleteEntry('{{id}}')">
      Delete Post
    </button>
  </section>
</div>
{{/each}}

<script>
  function deleteEntry(entryId) {
    if (confirm('Are you sure you want to delete this entry?')) {
      // Send a DELETE request to delete the entry
      fetch('/post/' + entryId, {
        method: 'DELETE'
      })
        .then(response => {
          if (response.ok) {
            // Entry deleted successfully
            console.log('Entry deleted successfully');
            // Redirect to the blog page
            window.location.href = '/dashboard';
          } else {
            // Error deleting entry
            console.error('Failed to delete entry');
          }
        })
        .catch(error => {
          // Error with the request
          console.error(error);
        });
    }
  }
</script>