  <div class="container mx-auto p-4">
    <h2 class="my-10 mr-40 text-left text-xl font-bold mb-4 animate-fade-in font-sans text-white hover:text-color-800 ">Allow MoodSync to
      weave its enchanting magic, transforming your feelings, dreams, or any musings into a mesmerizing kaleidoscope of
      colors.
    </h2>

    <div class="relative">
      <img src="https://img.freepik.com/free-photo/pretty-smiling-woman-with-curly-hair-wears-comfortable-soft-jumper-keeps-hands-collar-concentrated-away-has-dreamy-expression-isolated-yellow-background-copy-space-your-promotion_273609-57345.jpg"
        alt="Curly haired women wearing yellow" class="w-full">
      <div class="w-1/3 absolute bottom-0 left-0 top-5 right-60 p-4 bg-black bg-opacity-0 text-black text-base font-bold hover-gradient">
        <p>Imagine your emotions embodied in a vibrant palette, ranging from tranquil blues to fiery reds.</p>
        <div>
          <a href="/register">
        <button class="my-5 rounded-full border-solid border-2 border-white py-4 px-8 text-white font-bold text-sm hover:bg-teal-600">Sign Up</button></a>
        </div>
      </div>


    </div>

    <div class="relative mt-8">
      <img src="https://st5.depositphotos.com/1017228/64297/i/450/depositphotos_642970182-stock-photo-ginger-white-man-expressing-surprise.jpg"
        alt="Man wearing green with beard pointing up" class="w-full">
      <div class="w-1/3 absolute bottom-0 left-0 top-0 right-60 p-4 bg-black bg-opacity-0 text-white text-sm font-bold">
        <p>Explore your emotions from a whole new angle: Where Words Become Vibrant Hues.</p>
          <a href="/register">
        <button class="my-10 rounded-full border-solid border-2 border-white py-4 px-8 text-white font-bold text-sm hover:bg-teal-600">Sign Up</button></a>
        </div>
      </div>
       <div>
    </div>

    <div class="relative mt-8">
      <img src="https://st4.depositphotos.com/1049680/31440/i/450/depositphotos_314403472-stock-photo-young-asian-chinese-man-wearing.jpg"
        alt="sad man wearing blue" class="w-full">
      <div class="w-1/3 absolute bottom-0 left-0 top-0 right-0 p-4 bg-black bg-opacity-0 text-white text-xs font-bold">
        <p>Unlock the power of MoodSync and paint your emotions in hues you never thought possible.</p>
          <a href="/register">
        <button class="my-5 rounded-full border-solid border-2 border-white py-4 px-8 text-white font-bold text-sm hover:bg-teal-600">Sign Up</button></a>
        </div>
      </div>
       <div>
    </div>
  </div>

  <footer class="bg-zinc-900 text-gray-600 text-center text- py-4">
    &copy; 2023 Unleash Your Emotions! | MoodSync
  </footer>
